<!-- Blog -->
<section class="mt-5 mb-4">
    <div class="container text-dark">
        <header class="mb-4">
            <h3>Blog posts</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <article>
                    <a href="#" class="img-fluid">
                        <img class="rounded w-100" src="https://mdbootstrap.com/img/bootstrap-ecommerce/posts/1.webp" style="object-fit: cover;" height="160" />
                    </a>
                    <div class="mt-2 text-muted small d-block mb-1">
                        <span>
                            <i class="fa fa-calendar-alt fa-sm"></i>
                            23.12.2022
                        </span>
                        <a href="#"><h6 class="text-dark">How to promote brands</h6></a>
                        <p>When you enter into any new area of science, you almost reach</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->
