@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Index" asp-controller="Cart" asp-area="Customer" class="btn btn-outline-primary position-relative me-3">
        <i class="bi bi-cart-fill"></i> Cart
        @await Component.InvokeAsync("ShoppingCart")
    </a>
}
