@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="d-flex align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex align-items-center me-3">
            <a id="manage" class="nav-link text-dark d-flex align-items-center"
               asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @if (!string.IsNullOrEmpty(@UserManager.GetUserAsync(User).Result?.avatar))
                {
                    <img class="rounded-circle me-2" style="height:35px;width:35px"
                         src="/@UserManager.GetUserAsync(User).Result?.avatar" alt="profile" />
                }
                <span class="d-none d-md-inline">Hello, @UserManager.GetUserAsync(User).Result?.FirstName!</span>
            </a>
        </div>
        <div>
            <form id="logoutForm" class="d-flex align-items-center"
                  asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit"
                        class="btn btn-link text-dark d-flex align-items-center p-0">
                    <i class="fas fa-sign-out-alt me-2"></i>
                    <span class="d-none d-md-inline">Logout</span>
                </button>
            </form>
        </div>
    }
    else
    {
        <a class="btn btn-outline-primary me-3 rounded-pill"
           asp-area="Identity" asp-page="/Account/Register">
            <i class="fas fa-user-plus me-2"></i> Register
        </a>
        <a class="btn btn-primary text-white rounded-pill px-4"
           asp-area="Identity" asp-page="/Account/Login">
            <i class="fas fa-sign-in-alt me-2"></i> Login
        </a>
    }
</div>
