<div class="table-responsive">
    <table id="CategoryDataTable" class="table table-hover align-middle text-center" style="width:100%">
        <thead class="table-light">
            <tr>
                <th scope="col">Category Name</th>
            </tr>
        </thead>
    </table>
</div>
