<div class="table-responsive">
    <table id="ProductDataTable" class="table table-hover align-middle text-center" style="width:100%">
        <thead class="table-light">
            <tr>
                <th scope="col">Product Title</th>
                <th scope="col">Product Category</th>
            </tr>
        </thead>
    </table>
</div>



