@model List<Product>

@{
    ViewData["Title"] = "Manage Products";
}
@Html.AntiForgeryToken()
<div class="container">
    <div class="content m-auto mt-5" style="width: 80%;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Products</h2>
            <a class="btn btn-primary rounded-pill d-flex align-items-center" href="@Url.Action("Upsert")">
                <i class="bi bi-plus-circle me-2"></i> Create New Product
            </a>
        </div>
        <div class="table-responsive">
            <table id="datatable" class="table table-hover align-middle text-center" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Product Title</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Product Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
</div>

@section Scripts{    
    <script src="~/js/product/datatables.js"></script>
}
@section headingSection {
    <partial name="_CollapseWrapperPartial" />
}