.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

#suggestions .list-group-item {
    cursor: pointer;
}

    #suggestions .list-group-item:hover {
        background-color: #f0f0f0;
    }

#suggestions {
    max-height: 200px;
    overflow-y: auto; 
}


